<div class="row">
  <h1>Questions:</h1>
  <% questions =[]
    (1..1).each do |q|
      questions << @client.search("from:@codenewbies /'q1:/' exclude:retweets -a1", :result_type => "recent")
    end %>
  <% questions.each do |tweet| %>
    <div class="row">
      <div class="small-2 columns"><%= tweet.user.screen_name %></div>
      <div class="small-10 columns"><%= tweet.text %></div>
    </div>
  <% end %>
</div>